<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8"/>
        <title>user login</title>
    </head>
    <body th:align="middle">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" th:object="${user}"  method="post">
            <table th:align="center">
                <tr>
                    <td><label>username:</label></td>
                    <td><label><input id="username" type="text" name="username" th:field="*{username}"/></label><br/></td>
                </tr>
                <tr>
                    <td><label>password:</label></td>
                    <td><label><input id="password" type="password" name="password" th:field="*{password}" /></label><br/></td>
                </tr>
            </table>
            <input type="submit" value="login"/>
        </form>
    </body>
</html>