<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8"/>
        <title>user login</title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/userInfo}"  method="post">
            <table>
                <tr>
                    <td><label>username:</label></td>
                    <td><label><input type="text" name="username"/></label><br/></td>
                </tr>
                <tr>
                    <td><label>password:</label></td>
                    <td><label><input type="password" name="password"/></label><br/></td>
                </tr>
                <tr></tr>
                <tr></tr>
            </table>
            <input type="submit" value="login"/>
        </form>
    </body>
</html>